<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Petrol Prices</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</head>
<style>
  /* .search-table-outter { overflow-x: scroll; }
th, td { min-width: 200px; } */
table, th, td {
  border: 2px solid black;
  width: 50%;
  text-align: center;
}
.wrapper { overflow-x: auto; }
.wrapper table { white-space: nowrap; }
</style>
<body>
    <!-- topnav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Petrol Prices in India</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <ul class="navbar-nav">
              <li class="nav-item">
              </li>
              <li class="nav-item">
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

      <!-- carousel -->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.dubaipetroleum.ae/app/uploads/oil-assets-wide-fateh.jpg" class="d-block w-100" alt="..." width="1200px" height="450px">
            <div class="carousel-caption d-none d-md-block">
              <h5>indian oil</h5>
              <p>Petrol rates in India are revised on a daily basis. </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Supertanker_AbQaiq.jpg" class="d-block w-100" alt="..." width="1200px" height="450px">
            <div class="carousel-caption d-none d-md-block">
              <h5>indian oil</h5>
              <p>Price of fuel includes excise duty, value added tax (VAT)</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://lh3.googleusercontent.com/vBhH0Ci7PzIRizYcPUQvSP6S85uEVX3llhWxWckmJCKRX4ZT3zhgAXHDy6LrMz3Bx5xrfdJr=w1080-h608-p-no-v0" class="d-block w-100" alt="..." width="1200px" height="450px">
            <div class="carousel-caption d-none d-md-block">
              <h5>indian oil</h5>
              <p> VAT varies from state to state.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <center>
        <br><br><br>
        <h2>
        This is the today price rate of Petrol
        <br><br><br>
        Date : {{date}}  
        &emsp;&emsp;&emsp;&emsp;
        Time : {{time}}
      </h2>
      <table>
        <thead>

            <tr>
                <th>States</th>
                
                <th>Prices</th>
        
            </tr>
        </thead>
        <tbody>
          <br><br><br>
            {%for i in states%}
            <tr>

                
                <td>{{i["State"]}}</td>
                <td>{{i["Price"]}}</td>
                
            </tr>
            {%endfor%}
        </tbody>
        <!-- <tr>
            {%for i in states%}
            
            <td>{{i["Price"]}}</td>
            {%endfor%}
        </tr> -->
      </table>
      <br><br><br>
    </center>
    </div>
  
</body>
</html>